In [ ]:
import numpy as np
import itertools
import pandas as pd
import numpy as np
import time

In [ ]:
shopping_list = [[10.5, 3.25, 5.0], [2.99, 7.0], [1.5, 4.75, 9.99]]

def get_total_amount(lista):
  # Inicializamos un contador
  total = 0
  # Iteramos sobre la lista
  for sublist in lista:
    # Iteramos sobre las sublistas
    for importe in sublist:
      # Agregar el importe al contador
      total += importe
  # Devuelvo el contador
  return total

get_total_amount(lista=shopping_list)

44.980000000000004

In [ ]:
np.array(shopping_list)

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (3,) + inhomogeneous part.

In [ ]:
sum(itertools.chain.from_iterable(shopping_list))# [[1,2,3],[4,5]] -> [1,2,3,4,5] -> 15

44.980000000000004

In [ ]:
list(itertools.chain.from_iterable(shopping_list))

[10.5, 3.25, 5.0, 2.99, 7.0, 1.5, 4.75, 9.99]

In [ ]:
list(itertools.chain("Ana", "Gonzalo"))

['A', 'n', 'a', 'G', 'o', 'n', 'z', 'a', 'l', 'o']

# Acronimos

Hola mundo -> HM

In [ ]:
frase = "Hola mundo"

def get_acronym(frase):
  # Inicializamos la variable respuesta ""
  respuesta = ""
  # Rompemos por espacios con split
  palabras = frase.split()
  # Iteramos sobre las palabras de la frase
  for palabra in palabras:
    # Accedemos al indice 0 de cada palabra la convertimos a mayúscula
    inicial = palabra[0].upper()
    # La almacenamos en la variable respuesta
    respuesta += inicial
  # Devolvemos la variable respuesta
  return respuesta
get_acronym(frase)

'HM'

In [ ]:
''.join(x[0].upper() for x in frase.split())

'HM'

In [ ]:
"hola mundo como estás".split()

['hola', 'mundo', 'como', 'estás']

# Cambiar asientos


      ['Pepe','Luis','Ana','Rose']

      0

      2

      ['Ana','Luis','Pepe','Rose']

In [ ]:
passenger_seats = ["Alice", "Bob", "Charlie", "David"]
seat_1 = 0
seat_2 = 2
passenger_seats[seat_1], passenger_seats[seat_2] = passenger_seats[seat_2], passenger_seats[seat_1]
passenger_seats

['Charlie', 'Bob', 'Alice', 'David']

# map, filter, sort

In [ ]:
personas = [
    {"nombre": "Alice", "edad": 25, "is_overage":True},
    {"nombre": "Bob", "edad": 13},
    {"nombre": "Charlie", "edad": 22},
    {"nombre": "David", "edad": 15},
    {"nombre": "Eve", "edad": 28}
]

In [ ]:
personas_1 = list(map(lambda x: {"nombre": x['nombre'], "edad": x['edad'], "is_overage":x['edad']>=18}, personas))
personas_1

[{'nombre': 'Alice', 'edad': 25, 'is_overage': True},
 {'nombre': 'Bob', 'edad': 13, 'is_overage': False},
 {'nombre': 'Charlie', 'edad': 22, 'is_overage': True},
 {'nombre': 'David', 'edad': 15, 'is_overage': False},
 {'nombre': 'Eve', 'edad': 28, 'is_overage': True}]

In [ ]:
personas_overage = list(filter(lambda x:x['is_overage']==True, personas_1))
personas_overage

[{'nombre': 'Alice', 'edad': 25, 'is_overage': True},
 {'nombre': 'Charlie', 'edad': 22, 'is_overage': True},
 {'nombre': 'Eve', 'edad': 28, 'is_overage': True}]

In [ ]:
# Por edad de menos a mas
personas_overage.sort(key=lambda x: x['edad'], reverse=False)
personas_overage

[{'nombre': 'Charlie', 'edad': 22, 'is_overage': True},
 {'nombre': 'Alice', 'edad': 25, 'is_overage': True},
 {'nombre': 'Eve', 'edad': 28, 'is_overage': True}]

# Pandas

In [ ]:
!pip install fireducks

Collecting fireducks
  Downloading fireducks-1.4.3-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (1.0 kB)
Collecting firefw==1.4.3 (from fireducks)
  Downloading firefw-1.4.3-py3-none-any.whl.metadata (818 bytes)
Requirement already satisfied: pandas<2.4.0,>=1.5.3 in /usr/local/lib/python3.12/dist-packages (from fireducks) (2.2.2)
Collecting pyarrow<21.1,>=21.0 (from fireducks)
  Downloading pyarrow-21.0.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.3 kB)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas<2.4.0,>=1.5.3->fireducks) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas<2.4.0,>=1.5.3->fireducks) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas<2.4.0,>=1.5.3->fireducks) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas<2.4.0,>=1.5.3->fireducks) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas<2.4.0,>=1.5.3->fireducks) (1.17.0)
Downloading fireducks-1.4.3-cp312-cp312-manylinux_2_28_x86_64.whl (7.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 42.3 MB/s eta 0:00:00
Downloading firefw-1.4.3-py3-none-any.whl (13 kB)
Downloading pyarrow-21.0.0-cp312-cp312-manylinux_2_28_x86_64.whl (42.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.8/42.8 MB 22.9 MB/s eta 0:00:00
Installing collected packages: pyarrow, firefw, fireducks
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 18.1.0
    Uninstalling pyarrow-18.1.0:
      Successfully uninstalled pyarrow-18.1.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cudf-cu12 25.6.0 requires pyarrow<20.0.0a0,>=14.0.0; platform_machine == "x86_64", but you have pyarrow 21.0.0 which is incompatible.
pylibcudf-cu12 25.6.0 requires pyarrow<20.0.0a0,>=14.0.0; platform_machine == "x86_64", but you have pyarrow 21.0.0 which is incompatible.
Successfully installed fireducks-1.4.3 firefw-1.4.3 pyarrow-21.0.0

In [ ]:
# Ejecutar cuando usamos grandes df de pandas
%load_ext fireducks.pandas

In [ ]:
n = 10**7  # Número de filas
categorias = ['A', 'B', 'C', 'D']
numeros = np.random.randn(n)

cat_column = np.random.choice(categorias, size=n)
df_pandas = pd.DataFrame({'categoria': cat_column, 'valor': numeros})

In [ ]:
df_pandas.shape

(10000000, 2)

In [ ]:
df_pandas

        categoria     valor
0               B  1.139976
1               C -0.692399
2               B -1.074813
3               A -0.736967
4               B -1.082600
...           ...       ...
9999995         C  0.587941
9999996         D  0.375356
9999997         A -0.997349
9999998         D  1.761582
9999999         B -1.545759

[10000000 rows x 2 columns]

In [ ]:
df_pandas.memory_usage(deep=True).sum()/ (1024 ** 3)

np.float64(0.5401672162115574)

In [ ]:
df_pandas.dtypes

categoria     object
valor        float64
dtype: object

In [ ]:
# convertir el tipo de datos para mejorar la memoria perdiendo minima o nula precisión
df_pandas['valor'] = df_pandas['valor'].astype("float16")

In [ ]:
df_pandas.memory_usage(deep=True).sum()/ (1024 ** 3)

np.float64(0.0849832072854042)

In [ ]:
# Medimos el tiempo de ejecución de un groupby si fireducks
start_time = time.time()
df_pandas_grouped = df_pandas.groupby('categoria').mean()
print(time.time() - start_time)

0.7630770206451416

In [ ]:
# Medimos el tiempo de ejecución de un groupby si fireducks
start_time = time.time()
df_pandas_grouped = df_pandas.groupby('categoria').mean()
print(time.time() - start_time)

0.006732463836669922

In [ ]:
# Guardar en formato parquet para ahorra espacio en ROM
df_pandas_grouped

,valor
categoria,
A,-0.000106
B,0.000559
C,0.000127
D,-0.000512

In [ ]:
df_pandas.to_parquet('ejemplo.parquet')

- polars

- pyspark