In [ ]:
cotizaciones = {
    "Ana": [(12, 1200), (8, 1300), (10, 1250), (240, 1800), (180, 2100)],
    "Luis": [(24, 1500), (6, 1600), (360, 1900), (84, 2000)],
    "Marta": [(18, 1100), (12, 1150), (6, 1200), (300, 1400), (150, 1700)],
    "Carlos": [(480, 1600), (36, 1800)],
}

# Total de meses cotizados y años cotizados
# Importe total cotizado
# Puede jubilarse Sí/No

# Recorremos los elementos del diccionario (clave, valor)
for nombre, ls_cotizaciones in cotizaciones.items():
  print(f'Estudiando el caso de {nombre}:')
  # Variables de la persona
  total_meses_cotizados = 0
  importe_total_cotizado = 0
  # Recorremos las cotizaciones de la persona
  for meses, base_cotizacion in ls_cotizaciones:
    # Cálculo importe total periodo
    importe_periodo = meses*base_cotizacion
    # Registrar el importe calculado
    importe_total_cotizado += importe_periodo # importe_total_cotizado = importe_total_cotizado + importe_periodo
    # Registrar los meses cotizados
    total_meses_cotizados += meses
  anyos_cotizados = total_meses_cotizados/12
  # Comprobamos si puede jubilarse
  if anyos_cotizados >= 38:
    print('Puede jubilarse')
  else:
    print('Paciencia')
  print(f'Años cotizados:{anyos_cotizados}')
  print(f'Importe total cotizado:{importe_total_cotizado}')
  print('\n')

Estudiando el caso de Ana:
Paciencia
Años cotizados:37.5
Importe total cotizado:847300


Estudiando el caso de Luis:
Puede jubilarse
Años cotizados:39.5
Importe total cotizado:897600


Estudiando el caso de Marta:
Puede jubilarse
Años cotizados:40.5
Importe total cotizado:715800


Estudiando el caso de Carlos:
Puede jubilarse
Años cotizados:43.0
Importe total cotizado:832800

In [ ]:
cotizaciones.values()

dict_values([[(12, 1200), (8, 1300), (10, 1250), (240, 1800), (180, 2100)], [(24, 1500), (6, 1600), (360, 1900), (84, 2000)], [(18, 1100), (12, 1150), (6, 1200), (300, 1400), (150, 1700)], [(480, 1600), (36, 1800)]])

In [ ]:
cotizaciones.items()

dict_items([('Ana', [(12, 1200), (8, 1300), (10, 1250), (240, 1800), (180, 2100)]), ('Luis', [(24, 1500), (6, 1600), (360, 1900), (84, 2000)]), ('Marta', [(18, 1100), (12, 1150), (6, 1200), (300, 1400), (150, 1700)]), ('Carlos', [(480, 1600), (36, 1800)])])